*
!GUI_FUNCTIONALITY.md
!new/
!new/**
!standalone/
!standalone/**
!functions/
!functions/**
!media/
!media/help_overlay.png
!media/mortal_logo_simple.svg
!media/textures/
!media/textures/**
!media/sfx/
!media/sfx/**
